<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>BrewBlend</title>
</head>
<body>
    <!--------------------------nav--------------------------->
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
        </nav>
            <img src="../pics/Beer-removebg-preview.png" alt="Logo">
        <nav>
            <a href="">About us</a>
            {{#if user_details }}
                <a href="/profile">Profile</a>
                <a href="/auth/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a></li>
            {{/if}}
        </nav>
    </header>
    
</body>
</html>