<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>BrewBlend</title>
</head>
<body>
    <!--------------------------nav--------------------------->
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
        </nav>
            <img src="../pics/Beer-removebg-preview.png" alt="Logo">
        <nav>
            <a href="">About us</a>
            {{#if user_details }}
                <a href="/profile">Profile</a>
                <a href="/auth/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a></li>
            {{/if}}
        </nav>
    </header>

    <div class="container">

        <h1>Beers</h1>
        <div class="t3c">
            <div class="gbbox">
                {{#each Data}}
                    <div class="bbox">
                        <div class="bn">
                            <h3>{{this.name}}</h3><br>
                        </div>
                        <p>
                            {{this.brewer}}<br>
                            &euro;: {{this.purchase_price}}<br>
                            <i class="fa fa-heart"></i>: {{this.like_count}}
                        </p>
                    </div>    
                {{/each}}
            </div>
        </div>
    </div>
    
</body>
</html>