<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>BrewBlend</title>
</head>
<body>
    <!--------------------------nav--------------------------->
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
        </nav>
            <img src="../pics/Beer-removebg-preview.png" alt="Logo">
        <nav>
            <a href="">About us</a>
            {{#if user_details }}
                <a href="/profile">Profile</a>
                <a href="/auth/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <!-------------------------intro--------------------------->
    <div class="intro">
        <div class="logo2">
            <img src="../pics/BrewBlend2.png" alt="">
        </div>
    </div>

    <!-------------------------Beers--------------------------->
    
    <div class="container">
        <h1>top 3 best rated beers</h1>
        <div class="top3c">
            <div class="bbox3">
                {{#each data}}
                    <div class="box3">
                        <div class="bn">
                            <h3>{{this.name}}</h3><br>
                        </div>
                        <p>
                            {{this.brewer}}<br>
                            &euro;: {{this.purchase_price}}<br>
                            <button onclick="Like-beer"><i class="fa fa-heart"></button></i>: {{this.like_count}}
                        </p>
                    </div>
                {{/each}}
                <script>
                    function like-beer(id) {
                        fetch('/like', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: id })
                        })
                        .then(response => {
                            if (response.ok) {
                                alert('Item liked successfully');
                            } else {
                                alert('Failed to like item');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                </script>
            </div>
        </div>
        <div class="BTN">
            <a href="/beers"><button>View More</button></a>
        </div>
    </div>



</body>
</html>