<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sign.css">
    <title>BrewBlend</title>
</head>
<body>
     <!--------------------------nav--------------------------->
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
        </nav>
            <img src="../../pics/Beer-removebg-preview.png" alt="Logo">
        <nav>
            <a href="#">About us</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <!-------------------------login---------------------------->
    <div class="log">
        <h2>Login</h2>
        <form action="/auth/login" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            
            <button type="submit">Login</button>
        </form>

        {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}

        <p>No account yet? Please <a href="/register">Sign up</a> here</p>
    </div>
</body>
</html>