<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sign.css">
    <title>BrewBlend</title>
</head>
<body>
    <div class="All">
        <div class="emb">
            <img src="../../pics/Beer-removebg-preview.png" alt="">
        </div>
        <div class="Reg">
            <div class="form">
                <h2>Register</h2>
                <form action="/auth/register" method="post">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name"><br>
                    
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email"><br>
                    
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password"><br>

                    <label for="passwordConf">Confirm password:</label><br>
                    <input type="password" id="passwordConf" name="passwordConf"><br>
                    
                    <button type="submit">Register</button>

                    {{#if message}}
                        <h4 class="alert alert-danger mt-4" style="color: red;">{{message}}</h4>
                    {{/if}}
                </form>
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>