*{
    margin: 0;
    color: #000;
}

body{
    background: #E7E7E7;
    font-family: 'Poppin', sans-serif;
}

h1{
    padding-bottom: 50px;
    font-family: Impact !important;
    font-weight: normal;
    font-size: xxx-large;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    font-size: 25px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-family: Impact!important;
}

nav a{
    text-decoration: none;
}

nav li::marker{
    display: none;
}

nav a:hover{
    text-decoration: underline 5px;
}

header img{
    width: 250px;
    margin: 0 100px;
}

.intro{
    height: 73.8vh;
    padding: 0 10%;
}