*{
    margin: 0;
    color: #000;
}

body{
    background: #E7E7E7;
    font-family: 'Poppin', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    font-size: 25px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-family: Impact!important;
}

nav a{
    text-decoration: none;
}

header img{
    width: 250px;
    margin: 0 100px;
}

h2{
    font-size: 2.5rem;
    padding-bottom: 50px;
    font-family: Impact!important;
    font-weight: normal;
}

/***************register*******************/
.All{
    padding-top: 175px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
}

.emb{
    width: fit-content;
    /*margin: auto;*/
}

.emb img{
    width: 500px;
}

.Reg{
    padding-top: 50px;
    /*margin: auto;*/
    width:500px;
}

.Reg form{
    margin-bottom: 10px;
    width: fit-content;
}

.Reg form label{
    font-size: 1.3rem;
}

.Reg form input{
    margin: 0.5em 0 2em;
    padding: 10px 15px;
    width: 465px;
    border: none;
    border-radius: 3px;
}

.Reg form button{
    padding: 10px 0px;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 495px;
    background-color: #B76E22;
    color: #fff;
}

.Reg form button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #B76E22;
}

/***************login*******************/
.log{
    padding-top: 100px;
    margin: auto;
    width:500px;
}

.log form{
    margin-bottom: 10px;
    width: fit-content;
}

.log form label{
    font-size: 1.3rem;
}

.log form input{
    margin: 0.5em 0 2em;
    padding: 10px 15px;
    width: 465px;
    border: none;
    border-radius: 3px;
}

.log form button{
    padding: 10px 0px;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 495px;
    background-color: #B76E22;
    color: #fff;
}

.log form button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #B76E22;
}

