*{
    margin: 0;
    color: #000;
}

body{
    background: #E7E7E7;
    font-family: 'Poppin', sans-serif;
}

h1{
    padding-bottom: 50px;
    font-family: Impact !important;
    font-weight: normal;
    font-size: xxx-large;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    font-size: 25px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-family: Impact!important;
}

nav a{
    text-decoration: none;
}

nav li::marker{
    display: none;
}

nav a:hover{
    text-decoration: underline 5px;
}

header img{
    width: 250px;
    margin: 0 100px;
}

.intro{
    height: 73.8vh;
    padding: 0 10%;
}

/*---------------------------top 3 Beers----------------------------*/

.container{
    padding: 150px 10% 0;
    height: 73.8vh;
}

.container h1{
    margin-bottom: 100px;
}

.top3c{
    margin-bottom: 100px;
}

.bbox3 {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 180px;
    justify-content: center;
}

.box3{
    width: 20%;
    height: 210px;
    border-radius: 10px;
    background: #fff;
}

.box3 .bn {
    text-align: center;
}
.box3 h3 {
    height: 20px;
    background-color: #B76E22;
    text-decoration: underline 3px;
    padding: 50px 0px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box3 p {
    font-weight: bold;
    padding: 0px 20px;
}

.box3 p button {
    background: none;
    border: none;
    cursor: pointer;
}


.box3 p .fa{
    color: red;
    font-size: x-large;
}

/*---------------------------------BUTTON-----------------------------*/

.container .BTN {
    text-align: center;
}

.container .BTN button {
    padding: 15px 70px;
    font-size: 18px;
    font-weight: bold;
    background-color: #B76E22;
    color: #fff;
    border: navajowhite;
    border-radius: 5px;
    cursor: pointer;
}

.container .BTN button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #B76E22;
}

/*---------------------------------Beers------------------------------*/

.gbbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, 250px);
    grid-gap: 10px;
    justify-items: center;
}

.bbox{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background: #fff;
}

.bbox .bn {
    text-align: center;
}

.bbox h3 {
    height: 20px;
    background-color: #B76E22;
    text-decoration: underline 3px;
    padding: 50px 0px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bbox p {
    font-weight: bold;
    padding: 0px 20px;
}

.bbox p .fa{
    color: red;
    font-size: x-large;
}